/vendor/
/node_modules/

# Composer
composer.phar
composer.lock

# Laravel
bootstrap/cache/*.php
storage/*.key
.env
.env.backup
.env.production

# Editor
/.phpactor.json
/.idea
/.vscode
/.zed
/.fleet
/.nova

# macOS
.DS_Store
Thumbs.db

# PHP / Tooling
.phpunit.cache
.phpunit.result.cache
.phpstan/
.phpstan-cache/

# npm / yarn (for completeness, pakiet nie ma JS build)
npm-debug.log
yarn-error.log
